{% extends 'polls/base.html' %}


{% block content %}

<div class="row">
	<div class="col-lg col-6" style="background: #563;">text</div>
        <div class="col-lg col-3" style="background: #461;">text</div>
	
</div>

<p>Recent Customers</p>



<ul>
    {% for person in customer_data %}
    <li><a href="">{{ person.first_name }} {{ person.last_name }} <span class="badgde badge-pill badge-info">{{person.date_added}}</span> </a></li>
    {% empty %}
    <li>No Customer exists</li>
    {% endfor %}
</ul>
{% endblock content %}
